[Unit]
Description=QuickNotes
After=network-online.target
Wants=network-online.target

[Service]
User={{ app_user }}
WorkingDirectory={{ data_dir }}
Environment=ADDR={{ listen_addr }}
Environment=DATA_PATH={{ data_dir }}/notes.json
Environment=SEED_PATH={{ data_dir }}/seed.json
ExecStart={{ bin_path }}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target